.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001529;
    height: 100vh;
    }
    
    
    .auth-button{
      margin-top: 5vh;
      margin-bottom: 5vh;
      height: auto;
      width: 90vh;
      background-color: rgba(255, 255, 255, 0.81);
      border-radius: 10px;
    
    }
    
    
    
    .auth-button h2{
      display: flex;
      justify-content: center;
      align-items: center;
    
      margin-top: 5vh;
      margin-bottom: 2vh;
      font-weight: 600;
      font-size:3vw;
    }
    
    #siginDiv{
      display: flex;
      justify-content: center;
      align-items: center;
    
      margin-top: 5vh;
      margin-bottom: 2vh;
      border-radius: 100%;
      
    }
    
    .test-token-div{
      display: flex;
      justify-content: center;
      align-items: center;
    
      margin-top: 4vh;
      margin-bottom: 9vh;
    
    }
    
    
    .test-token-button{
      display: flex;
      justify-content: center;
      align-items: center;
    
      width: 68%;
    }