.rounded-edges{
  border-radius: 60px;
  padding: 15px 20px 15px 20px;
  border-color:rgba(122,208,167,100);
  
}
.rounded-button{
  border-radius: 60px;
  padding: 15px 50px 15px 50px;
  border-color:rgba(122,208,167,100);
  text-align: center;
  
}


.btn-primary{
  color: white;
  background-color:rgba(122,208,167,255) ;
  border: rgba(122,208,200,200);
}
.btn-primary:hover{
  background-color:rgba(122,208,200,255) ;
  color: #16261f;
}

.outline-button{
  color:#16261f;
  background-color: white;
}
.outline-button:hover{
  background-color:rgba(122,208,200,255) ;
  color: white;
  border-color:rgba(122,208,200,255) ;
}



.outline-button-long{
  color:#16261f;
  background-color: white;
  border-color: #16261f;
}
.outline-button-long:hover{
  background-color:rgba(122,208,200,255) ;
  color: white;
  border-color:rgba(122,208,200,255) ;
}

.total-cost{
  background-color:rgba(241,241,241,255) ;
  padding: 15px 18px 15px 18px;
  margin: 8px 8px 8px 8px;
  border-radius: 60px;
  
}
.total-price{
  font-weight: 300;
}

.total-price{
  font-weight: 500;
}


.outline-img{
  color:#16261f;
  background-color: white;
  border-radius: 60px;
  padding: 10px 20px 10px 20px;
  border-color:rgba(122,208,167,100) ;
  cursor: pointer;
  

}
.outline-img:hover{
  background-color:rgba(122,208,200,255) ;
  color: white;
  border-color:rgba(122,208,200,255) ;
  
}

.cart-img{
  border-radius: 100%;
  height: 75px;
  width: 75px;
  object-fit: cover;

}

.itemId{
  font-size:small;
  font-weight: 300;
}